@media print {
	html, body {
		padding: 0px;
		width: 100%;
		height: 100%;
	}
	header,
	.noprint {
		display: none;
	}
	.printHeader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.printContent {
		margin-top: 150px;
		margin-bottom: 300px;
	}
	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0;
		width: 100%;
	}
	.printFooter {
		position: absolute;
		bottom: 40px;
		left: 0;
		width: 100%;
	}
}